<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">

   </head>
<body>


<h2 th:inline="text" class="title customer">Zawartość koszyka</h2>
<hr class="rule">
<a th:href="@{/shopping/additemcust}" class="btn btn-dark back btn-lg">
    Back
</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a:${basket}">
        <td th:text="${a.key.name}"></td>
        <td th:text="${a.key.price}"></td>
        <td th:text="${a.value}"></td>
        <td th:with="result=${a.key.price}*${a.key}">
            <span th:inline="text">[[${result}]]</span>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="font-size:18px;text-align:center;font-weight:bold;">
            Total Amount to pay
        </td>
        <td th:inline="text" style="font-weight:bold;font-size:18px;">
            Rs. [[${total}]]
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>