<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

   </head>
<body>

<nav th:fragment="header">
    <h1>Cart contents</h1>
</nav>
<a th:href="@{shop}" class="btn btn-danger add_item">
    Back to shop
</a>
<br><br>


<table class="table table-bordered table-striped">

    <thead class="table-dark">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Item Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Sum
        </th>
        <th>
            Remove
        </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="prod:${items}">
        <td th:text="${prod.key.name}"></td>
        <td th:text="${prod.key.price}"></td>
        <td th:text="${prod.value}"></td>
        <td th:text="${prod.value}*${prod.key.price}"></td>
        <td>
            <a th:href="@{custitemdel(name=${prod.key.name})}"class="btn btn-danger">Remove Item</a>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="font-size:18px;text-align:center;font-weight:bold;">
            Total Amount to pay
        </td>
        <td th:text="${total}">
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>