<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

</head>
<body>
<nav th:fragment="header">
    <h1> Home Page</h1>
</nav>

<a th:href="@{admin/index}" class="btn btn-primary add_cust">
    Addmin Panel
</a>
<a th:href="@{shopping/shop}" class="btn btn-success add_item">
    User Panel
</a>


</body>
</html>