<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h2 th:inline="text" class="title">Category: [[${category}]]</h2>
<hr class="rule">
<a th:href="@{products}" class="btn btn-danger add_item">
    Back
</a>
 <table class="table table-bordered table-striped">

     <thead class="table-dark">
     <tr>
         <th>
             Item Name
         </th>
         <th>
             Item Price
         </th>
         <th>
             Descripption
         </th>
         <th>
             Category
         </th>
         <th>
             Actions
         </th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="a:${products}">
         <td th:iniline="text">[[${a.name}]]</td>
         <td th:iniline="text">[[${a.price}]]</td>
         <td th:iniline="text">[[${a.description}]]</td>
         <td th:iniline="text">[[${a.getCategory().name()}]]</td>
         <td>
             <form method="POST" th:action="@{/products(name=${a.name})}">
                 <button type="submit" name="submit" value="value" class="btn btn-info">Add item to cart</button>
             </form>
         </td>
     </tr>

 </table>
</body>
</html>