<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

</head>
<body>
<nav th:fragment="header">
    <h1> Home Page</h1>
</nav>
<br><br>
<p th:align="center">

<a th:href="@{/admin}" class="btn btn-primary">
    Admin Panel
</a>
<a th:href="@{/products}" class="btn btn-primary">
    User Panel
</a>

</p>
</body>
</html>