<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>

    <h1 th:align="center" th:bgcolor="white"> Online shop</h1>
    <p th:align="right" ><a th:href="@{/}" class="btn btn-dark"> Home </a> </p>

<h2 th:inline="text" class="title">Product categories</h2>
<hr class="rule">
<tr th:each="cat:${categories}">

    <a th:href="@{categories(name=${cat})}" class="btn btn-danger add_item">
        [[${cat}]]
    </a>
</tr>

<br> <br>
<hr class="rule">
<p th:align="center"> Special promotion!!! Buy minimum 2 of the same items to get 20% discount</p>

<table class="table table-bordered table-striped">

    <thead class="table-dark">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Item Price
        </th>
        <th>
            Descripption
        </th>
        <th>
            Category
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a:${products}">
        <td th:iniline="text">[[${a.name}]]</td>
        <td th:iniline="text">[[${a.price}]]</td>
        <td th:iniline="text">[[${a.description}]]</td>
        <td th:iniline="text">[[${a.getCategory().name()}]]</td>
        <td>
            <a th:href="@{add_to_cart/(name=${a.name})}" class="btn btn-info">Add product to cart</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>